@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&family=Molengo&family=Questrial&family=Yanone+Kaffeesatz:wght@400;600&display=swap');


body {
  font-family: 'Molengo', sans-serif;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
}

nav {
  background-color: white;
 
}

nav ul {
  list-style-type: none;
  font-size: 1.5rem;
  gap: 2rem;
  margin: 0;
  padding: 0;
  text-align:center;
}


nav ul li {
  display: inline;
}

nav ul li a {
  color:black;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  
  }

nav ul li a:hover {
  background-color: #f1b993;
  text-decoration: underline;
  text-underline-offset: 1.5rem;
  text-decoration-color: (181,181,181);
}

header {
  background-color: #f4f4f4;
  padding: 0;
}

.container {
  width: 90%;
  margin: 5 ;
}

.profile {
  display: flex;
  align-items: center;
}

.socials {
  position:absolute;
  top: 5vi;
  left:7vi;
  display:flex;
  justify-content: center;
  gap: 1rem;
}

.icon{
  height:3rem;
}

.icons a {
  margin-right: 10px; 
 
}

.pic_container {
  float:left;
  height:300px;
  width:40%;
  margin: auto 0;
  top:100px;
 
}

.profile_img {
  border-radius: 50%;
  object-fit: cover;
}

.description {
  float:left;
  top: 8vi;
  width: 50%;
}

.description h1 {
  margin-top: -20px;
  margin-bottom: 5px;
  margin-left: 100px;
  font-size: 40px;
}

.description p {
  color: #666;
}


@media screen and (max-width:600px){
  aside,section,article{
    width: 100%;
  }
}