@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&family=Molengo&family=Questrial&family=Yanone+Kaffeesatz:wght@400;600&display=swap');

html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Helvetica';
  margin-right:200px;
  margin-left:200px;
}

nav {
  background-color: white;
 
}

nav ul {
  list-style-type: none;
  font-size: 1.5rem;
  gap: 2.4rem;
  margin: 0;
  padding: 0;
  text-align:center;
}


nav ul li {
  display: inline;
}

nav ul li a {
  color:black;
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
  transition: all 0.5s ease-out 2s;
  scroll-behavior:smooth;
}
 

nav ul li a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: (181,181,181);
}

header {
  background-color: white;
  padding-bottom: 5%;
}

.container {
  width: 100%;
  margin: 0 ;
  padding-bottom: 100px;
}

.profile {
  width: 100%;
  display: flex;
  align-items: center;
}

.profile_container{
  width:50%;
  display:flex;
  float: left;
  flex-direction: column;
  margin-top: 4%;
}
.socials {
  position:relative;
  display:flex;
  float:top;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 5px;
  margin-right: 8px;
}


.fa {
  border-radius: 50%;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  padding:7px;
  color:black
}
.fa.fa-linkedin{
  color: black;
}
.fa.fa-github{
  color: black;
}
.fa.fa-envelope{
  color: black;
}
.fa.fa-square-twitter{
  color: black;
}

.fa:hover{
  color: blue;
}


.socials a {
  margin-right: 2px; 
}

.pic_container {
  float:left;
  margin-left: 120px; /* Adjust margin for image positioning */
  margin-right: 100px;
  position:relative;

}

.pic_container img {
  height: 450px;
  width:auto;
  object-fit: cover; 
}

.description {
  float: left;
  top:  8vi;
  margin-top: 5%;
  width: 50%;
}

.description h1 {
  width:110%;
  margin-left: -10%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 26pt;
  font-weight: bold;
}

.description h2{
  font-size: 15pt;
  width:105%;
  margin-left:-10%;
  padding-bottom: 1vi;
  font-weight: bold;
  color: #666;
  text-align: center;
}
.description p {
  width:110%;
  margin-left: -10%;
  text-align: justify;
  color: #666;
}

.next{
  position:absolute;
  bottom: 30px;
  left:50%;

}
.text-next{
  text-align: center !important;
}

.next a {
  cursor:pointer; 
  scroll-behavior: smooth;
  transition: color 4s ease-in-out;
  color: #38B;
}



.fa-circle-down{
  display: block;
  margin-top: 18%;
  border-radius: 50%;
  color:black;
 
}


/* Experience Section */
.experience div{
  position:relative;
  margin-top: 1%;
  padding-bottom: 4%;
  display:flex;
 
}

.position_container div{
  position: relative;
  display:flex;
  overflow-x: hidden;
  align-items: center;
  
  align-items: center;

}

.prof_positions {
  padding-top: 2%;
  padding-left: 30px;
  padding-right:30px;
  display: flex;
  position: relative;
  justify-content: left;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.position {
  width:calc(100%/2.3);
  flex: 0 0 auto;
  margin-right: 20px;
  background-color:white; /* Shaded background color */
  border-radius: 10px; /* Rounded borders */
  padding: 20px; /* Adds some spacing inside the rectangle */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
  
}

.position img {
  width: 150px; /* Adjust image size as needed */
  height:150px;
  top: 5%;
  display:flex;
  align-items: center;
  border-radius: 50%; /* Makes the image round */
  margin-right: 20px; /* Adds some spacing between image and text */
}

.position:hover {
  background-color:#9DC9FB;
  z-index: 2;
}



.project-details {
  display: flex;
  flex-direction: column; /* Allows the details to take up remaining space */
}

.project-details h2 {
  margin-top: 0; /* Removes default margin */
}

.project-details h3 {
  margin-top: -5px; /* Adds some spacing between title and subtitle */
  color:blue;
}

.project-details p{
  text-align: justify;
  margin: 0;
}


.position_container i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  border-color: black;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.position_container i:active{
  transform: translateY(-50%) scale(0.9);
}
.position_container i:first-child{
  left: -40px;
 
}
.position_container i:last-child{
  right: -40px;
}

/*Skills Section */
.skills div{
  margin-top: 1%;
 
}

.skills-container {
  padding-top: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 7%;

}

.skill {
  display: flex;
  margin-right: 40px; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
  align-items: center;
}

.skill img {
  width: 40px; /* Adjust image size as needed */
  height: 40px; /* Adjust image size as needed */
  margin-right: 10px; /* Adjust as needed */
}

.skill-name {
  font-size: 16pt; /* Adjust font size as needed */
  font-weight: bold;
}


/*Education Section*/
.education{
  position:relative;
  margin-top: 1%;
  padding-bottom: 4%;
}

.education_container {
  display: flex;
  flex-direction: row;
  padding-top: 1%;
  padding-bottom: 1%;
}

.degree {
  width: 33%;
  margin-right: 20px;
  background-color:white;
  align-items: center; 
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  
  display:flex;
  flex-direction: column;
}

.degree img {
  display: block;
  width:130px;
  height: auto;
  top: 5%;
  margin:auto;
}

.education_details{
  margin-top: auto;
  overflow-wrap: break-word;
}

.education_details h2{
  font-size: 15pt;
 
}

.education_details h3{
  font-size: 13pt;
}

.education_details p{
  text-align: justify;
  margin:0;
}

.abroad_container {
  display:flex;
  justify-content: center;
}

.abroad_exp{
  width:42%;
  background-color:#9DC9FB;
  align-items: center; 
  border-radius: 10px; 
  padding: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  
  display:flex;
  flex-direction: row;
  margin-right: 20px;
}

.abroad_exp img {
  display: flex;
  align-items: center;
  width:130px;
  height: auto;
  top: 2%;
  margin-right: 20px;
  margin-left: 5px;
}

.abroad_details{
  justify-content: baseline;
}

.abroad_details p{
  text-align: justify;
  margin: 0;
}





/*Projects Section*/

.project_container{
  width:100%;
  display:flex;
  flex-direction: column;
}

.project{
  width:100%;
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  
  display:flex;
  padding-right: 20px;
}

.project-details{
  position:relative;
}

.project img{
  width:40%;
  padding-right: 20px; 
  border-radius:10px;
}

.bottom_div{
  position: absolute;
  bottom: 1;
  display:flex;
  width:40%;
  justify-content: space-between;
}

.read_div .tech_div{
  padding-top:1%;
  width:30%;

}

.read_div{
 align-items: left;
 margin-right: -20px;
}
.read_div span, i{
 color: blue;
 align-items: right;
 font-size: 10pt;
 
}

.tech{
  justify-content: center;
  color:white;
  background-color: rgb(88, 87, 87);
  border-radius: 5px;
  margin: 5px;
  padding:5px;
  padding-top:3px;
  padding-bottom:3px;
  font-size: 10pt;
  margin-bottom: auto;
}


